.header {
  background-color: rgba(93, 67, 158, 0.74);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  padding: 10px;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container ul {
  display: flex;
}

.header__container ul li {
  margin: 0 15px;

  color: white;
}
